.nav-item{
    display: flex;
    align-items: center;
    background-color: #0B3F30;
   font-family: bagel fat one;
   font-size: larger;
}
.fa-solid
.nav-item :hover{
    display: flex;
    align-items: center;
    color: #3fa185;
    font-family: bagel fat one;
    font-size: larger;
}
.navbar{
    background-color: #0B3F30 !important;
    padding: 0 !important;
}
.container-fluid .nav-link {
    color: white !important;
    font-family: oswald;
}

.navbar-brand {
    color: white !important;
}

.container-fluid{
    background-color:  #0B3F30 !important;
    color: white;
    
}

.spotlightGrid{
    background-color:#decfbd;
   
}
.nav-item-right{
    display: flex;
    margin-left:auto;
    justify-content: flex-end; 
    color: white;
}
.navbar-nav .nav-item-right{ 
    margin-left:auto;
    display:flex;
    justify-content: flex-end;
    color: white;
}

.introBlock{
    display: flex;
    height:50vh;
}
.introBlock .introImage{
    display: flex;
    flex:1;
    height: 100%;
}

.introBlock .introText{
    display: flex;
    flex:2;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #decfbd;
    height: 100%;
    font-family: oswald;
    padding: 5%;
    font-size:larger;
}
.spotlight{
    display:flex;
    height: 20vh;
}
.spotlight .spotlightTitle{
 flex:1;
 background-image: url(texture.jpg);
 background-blend-mode: overlay;
 background-color: rgba(2, 44, 28, 0.9);
 text-align: center;
 align-content: center;
 font-family: bagel fat one;
 color: white;
 font-size: x-large;
 }
 .Record img:hover{
    display: flex;
    transform:scale(1.1) rotate(10deg);
 }

.spotlight .spotlightBanner{
 flex:3;
 background-color:#E39828;
 text-align: left;
 align-content: center;
 padding: 10px;
 color:white;
 font-family: oswald;
 position: relative;
 animation: bannerUnfurl 2s ease-out forwards;
 transform: translateX(-100%);
 opacity: 0;
 }
 @keyframes bannerUnfurl {
    0%{
        transform: translateX(100%);
        opacity: 1;
    }    
    100%{
        transform: translateX(0);
        opacity: 1;
    }
 }
 .spotlightGrid{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    padding: 20px;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
 }
 .Record{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
    width:100%;
    flex-wrap: wrap;
    color: white;
    background-image: url(texture.jpg);
    background-blend-mode: overlay;
    background-color: rgba(2, 44, 28, 0.8);
 }
 .Record img{
    width: 100%;
    height: auto;
    max-height: 400x;

 }
footer{
    background-color: #0B3F30;
    color: white;
    margin-bottom: 0;
} 
.footContent{
    display:flex;
    justify-content: center;
}
.Record .recordTitle{
    display: flex;
    color: white;
    font-family: bagel fat one;
}
.Record .recordBlurb{
    display: flex;
    color: white;
    font-family: oswald;
    background-image: linear-gradient(white, white);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-bottom: 5px;
    transition: 500ms ease;
}
.Record .recordBlurb:hover{
    background-size: 100% 3px;
}

.footImage img{
    max-width: 110px;
    max-height: 60px;
}
.body{
    background-color: #decfbd;
}
.intropollText{
    display: flex;
    flex:2;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #decfbd;
    height: 100%;
    font-family: oswald;
}
.bigText{
    font-family: bagel fat one;
    font-size: x-large;
}

.aroundText{
    position: absolute;
    top: 60%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    z-index: 10;
}


.roundText{
    animation: circularText 20s linear infinite;
    transform-origin: center center;
    color: white;
    font-family: bagel fat one; 
    position: absolute;
}
@keyframes circularText {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.introblockPoll{
    display: flex;
    height:60vh;
}
.introblockPoll .introimagePoll{
    display: flex;
    flex:1;
    height: 100%;
}

.introblockPoll .introtextPoll{
    display: flex;
    flex:2;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    height: 100%;
    font-family: oswald;
    padding: 5%;
    font-size: larger;
}
.form{
    padding:5px;
    font-family: bagel fat one;
}
.formcontainer{
    padding: 30px;
   font-family: bagel fat one;
}
